body {
    font-family: "Helvetica", "Arial", "sans-serif";
    display: flex;
    flex-flow: row wrap;
}

h1,h2,h3,h4 {
    font-family: "Helvetica", "Arial", "sans-serif";
}

.header, .nav_bar, .site, .footer {
    width: 100%;
}

@media (min-width: 875px) {
    .nav_bar {
        width: 13%;
        -webkit-order: 1;
        order: 1;
    }
    .site {
        width: 720px;
        -webkit-order: 2;
        order: 2;
    }
    .footer {
        -webkit-order: 3;
        order: 3;
    }
}

.header a, .nav_bar a {
    color: #333;
    text-decoration: none;
    text-shadow: none;
}

a {
    color: #333;
}

.nav_bar {
    margin: 0.5%;
    margin-top: 0px;
    padding-top: 0px;
}

#nav {
    background: #D5D5E0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding-left: 1%;
    padding-right: 1%;
}

#blog_index {
    background: #D5D5E0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding-left: 1%;
    padding-right: 1%;
}

.nav_ul {
    list-style-type:none;
    padding: 0px;
    padding-bottom: 4px;
}

div.nav_ul_div {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.site {
    min-height: 650px;
    word-wrap: normal;
    margin: 0px auto;
    font-family: "Georgia", "serif";
    font-size: 1em;
    line-height: 1.6em;
}

div#page_date {
    color: #A0A0A0;
}

div#post {
    padding-top: 13px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background: #A0A0A0;
}

blockquote {
    background: #D5D5E0;
    border-left: 1em solid #B5B5B5;
    padding: 1px 0.5%;
}

div.post_nav_buttons {
}


div.contact_columns {
    float: left;
    margin: 5px;
}

img.contact {
    margin:3px;
    width:250px;
    display:block;
}

img.social_icon {
    height:30px;
    padding-right:0.5em;
}

a.img_link {
    text-decoration: none;
}

.footer {
    text-align: center;
    height: 50px;
    clear: both; 
    padding: 4px;
}
