<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="author" content="Michael Stathers" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Michael Stathers - posts and information related to IT Technologies and Systems Administration.">


    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<body>

<div class="header">
    <h1><a class="header" href=/>Stathers.net</a></h1>
</div>

<div class="nav_bar">
    <div id="nav">
        <ul class="nav_ul">
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="http://minecraft.stathers.net:8123" target="_blank">Minecraft Server</a></li>
            <li class="nav"><a class="nav" href="https://github.com/mstathers/" target="_blank">Projects</a></li>
            <li class="nav"><a class="nav" href="/commands.html">Useful Linux Commands</a></li>
            <li class="nav"><a class="nav" href="/wiki/" target="_blank">Wiki</a></li>
            <li class="nav"><a class="nav" href="/contact.html">Contact Me</a></li>
        </ul>
    </div>
    <div id="blog_index">
      <a href=/blog-list.html>All Blog Posts</a>
      <ul class="nav_ul">
        {% for post in site.posts %}
          <li><div class="nav_ul_div"><a href="{{ post.url }}">&raquo; {{ post.title }}</a></div></li>
        {% endfor %}
      </ul>
    </div>
</div>

<div class="site">
    {{ content }}
</div>

<div class="footer">
    Stathers.net
    <div>
        <!-- LINKEDIN -->
        <a style="float:left" href=https://www.linkedin.com/in/mstathers target="_blank"><img src=/css/InBug-30px-R.png alt="linkedin_logo" /></a>
    </div>
</div>

</body>
</html>
